<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="src/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" >
    
    <script src="https://unpkg.com/vue"></script>
    <script src="lessons.js"></script>
    
    <title>Lessons Mart </title>
    </head>
    <body>
    <div id="app">
        <header id="mainHeader">
                <h1 v-text="headername" class="headername"></h1>
                <button @click="showCheckout" v-if="cartItemCount>0" class="checkoutButton">
                {{cartItemCount}}
                Checkout:    
                </button>
        </button>   
        </header>
    <main>
   
    <!--Container for Search and sort-->
    <div v-if="showProd" class='container'>
        <div class="search">
            <h3>
            Search: <input type="text" v-model="search" placeholder="Search Lessons/Location">    
            </h3>
        </div>
        <div class="sorth">
            
    <!--price is chosen for sorting due to people generally filtering by this option the most-->
            Sort the price by:
            <button @click="ascending">Ascending</button>
            <button @click="descending">Descending</button>  
        </div>

    <!--V-FOR is added-->        
        <div v-for="prod in filteredLessons">
        <div class="items">
        
        <img v-bind:src="prod.image" class="lesson" width="155" height="135">
        <h3>{{prod.lesson}}</h3>
        <br><i class="">📍</i> {{prod.location}}<br>
        <br><i class="">💵</i> £{{prod.price}} /Month<br>
        <br>Spaces Remaining: {{prod.spaces}}<br>
        
        <div class="btnclass">
        <button class="add" v-on:click="addToCart(prod)" v-if="canAddToCart(prod)">
        Add to Cart
        </button>
        <button disabled="disabled" class="add" v-else>
        Add to Cart
        </button>
    </div>
  </div>
 </div>
</div>
    
<div v-else class="check">
<div class="checkoutinfo">
<h2>Checkout</h2>
    
<br>
    First Name: 
    <input v-model="enroll.fName"> <br>
    Last Name: 
    <input v-model="enroll.lName"> <br>
    Phone Number:
    <input v-model="enroll.phno">
    </p>
        <br>
        <br>
        <h3>Invoice Confirmation</h3>
        First name: {{enroll.fName}} <br>
        Surname: {{enroll.lName}}    <br>
        Phone number: {{enroll.phno}}
        <br><br>
            <button @click="submitForm" v-if="canPlaceenroll">Enroll</button>
            <button disabled v-else> Enroll </button>
            </div>
            <div class="enrollList">
            <h2>Lessons Selected:</h2>
            <div v-for="(cartItem, key) in cart">
            <br><br>
                {{cartItem}}
            <button @click ="removeFromCart(cartItem, key)"> Remove </button>
            <br>
          </div> 
        </div>
    </div>
</main>
</div>

<script>

<!--Vue is initiated here-->
let onlinemart = new Vue({
    el: '#app',
    data: {
        headername: "Lessons Mart",
        lessons: lessons,
        enroll: 
{
        fName: '',
        lName: '',
        phno: '',
},
        cart: [],
        search: '',
        showProd: true,
},

    methods: {
            addToCart(prod){
            prod.spaces = prod.spaces -1;
            this.cart.push(prod.lesson);
        },
        showCheckout(){
            this.showProd = this.showProd ? false : true;
        },
        canAddToCart(prod){
            return prod.availableInventory > this.cartCount(prod.lesson);
        },
        
        cartCount(id){
            let count = 0;
            for(let i=0; i<this.cart.length; i++){
                if(this.cart[i] === id){
                    count++;
                }
            }
            return count;
        },
        submitForm(){
            alert("You have been Enrolled! Congrats!");
        },
        <!--Sorting the price-->

        descending(){
            this.lessons.sort((a,b) => a.price < b.price ? 1 : -1);
        },
        ascending(){
            this.lessons.sort((a, b) => a.price > b.price ? 1 : -1);
        },

        removeFromCart(lessonName, key){
            this.lessons.forEach(prod => {
            if(prod.lesson == lessonName){
            prod.spaces++;
            this.cart.splice(key, 1);
                }
            })
        },
    },


    computed: {
        cartItemCount(){
            return this.cart.length || ' ';
        },

        filteredLessons(){
            return this.lessons.filter((prod) => {
                return (prod.lesson.toLowerCase().match(this.search) || prod.lesson.match(this.search) || prod.location.match(this.search) || prod.location.toLowerCase().match(this.search));
                
            });
        },
        canPlaceenroll(){
     let regex = new RegExp(/^[a-zA-Z]+$/);
     if ((this.enroll.fName && this.enroll.lName && this.enroll.phno) && (regex.test(this.enroll.fName) == true && regex.test(this.enroll.lName) == true ) &&(!isNaN((this.enroll.phno)))) {
     return true;
     }
     else{
     return false;
            }
        },
    }
});
</script>
</body>
</html>
